{% extends "main_page.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div style="width: 400px; margin-top: 250px;" class="mx-auto  border border-secondary rounded bg-light">
  <h1 class="text-center" style="margin-top: 20px;">{% trans 'Login' %}</h1>
  <form class="p-2" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div class="row">
          <div class="col">
            <input type="email" name="login" class="form-control" placeholder="Email">
            {% if form.login.errors%}
            <br>
            <div class="alert alert-danger" role="alert">
              <p>{% trans 'Email is required' %}</p>
            </div>
            {% endif %}
          </div>
      </div>

      <br>

      <div class="row">
        <div class="col">
          <input type="password" name="password" class="form-control" placeholder="Password">
          {% if form.password.errors%}
          <br>
          <div class="alert alert-danger" role="alert">
            {% trans form.password.errors %}
          </div>
          {% endif %}
        </div>
      </div>
      <br>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div style="margin-bottom: 10px;" class="row">
        <div class="col">
          <input value="{% trans 'Login' %}" type="submit" class="btn btn-primary">
        </div>
      </div>

      <h6>
        {% trans 'Not registered ?' %} <a class="text-secondary" href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
      </h6>
    </form>
</div>
{% endblock %}
