{% extends "main_page.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

 <section class="hero is-dark is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <form class="login box" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                <h1 class="has-text-centered mb-5 is-size-3">Login</h1>

                {{ form|crispy }}

                {% if form.errors %}
                  <div class="alert alert-error">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="field">
                  <input value='Login' type="submit" class="button is-success">
                </div>

                <div class="field">
                  Not registered ? <a href="{% url 'account_signup' %}">Register</a>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
