{% load static %}
{% load i18n %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/user_profile.css' %}" rel="stylesheet" type="text/css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
                    <br>
                    <br>
                <div class="row" >
                    <div class="col-md-6" style="left: 20px;">
                        <div class="profile-head">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <p class="nav-link active" data-toggle="tab">Update</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                                            <div style="left: 160px;" class="col-md-2">
<a class="dropdown-item" href="/user_profile/{{ user.id }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                        <a class="dropdown-item" href="{% url 'main_page' %}">
                                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Main page
                        </a>
                    </div>
                </div>

                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <form class="p-2" method="POST" action="{% url 'account_update' user.user_profile.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
          <div class="col">
            <label for="id_avatar">{% trans 'Avatar' %}:</label>
              <br>
        {% if user.user_profile.avatar %}
        <td><img style="border-radius: 10%;" src="{{ user.user_profile.avatar.url }}"></td>
        {% else %}
        <td><img style="border-radius: 10%;" src="{% static 'images/avatar/default.jpg' %}"></td>
        {% endif %}              <br>
              <br>
              <label class="form-label" for="customFile">{% trans 'Update image' %}</label>
              <input type="file" class="form-control" id="customFile" name="avatar"/>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            {% trans 'Update first name' %}:
          <input type="text" value="{{ user.first_name }}" name="first_name" class="form-control" placeholder="First name">
          {% if form.first_name.errors%}
          <br>
          <div class="alert alert-danger" role="alert">
            {% trans form.first_name.errors %}
          </div>
          {% endif %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            {% trans 'Update last name' %}:
          <input type="text" value="{{ user.last_name }}" name="last_name" class="form-control" placeholder="Last name">
          {% if form.last_name.errors%}
          <br>
          <div class="alert alert-danger" role="alert">
            {% trans form.last_name.errors %}
          </div>
          {% endif %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            {% trans 'Update phone number' %}:
          <input type="text" value="{{ user.user_profile.phone_number }}" name="phone_number" class="form-control" placeholder="Phone number">
          {% if form.phone_number.errors%}
          <br>
          <div class="alert alert-danger" role="alert">
            {% trans form.phone_number.errors %}
          </div>
          {% endif %}
        </div>
      </div>
      <br>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div style="margin-bottom: 10px;" class="row">
        <div class="col">
          <input value="{% trans 'Update' %}" type="submit" class="btn btn-primary">
        </div>
      </div>
    </form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>