{% extends "main_page.html" %}

{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block content %}
<p>user profile</p>
<table style="width: auto;" class="table table-striped table-condensed">
  <thead>
    <tr>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">First name:</th>
        <td><img style="border-radius: 10%;" src="{{ user.user_profile.avatar.url }}"></td>
    </tr>
    <tr>
    <tr>
      <th scope="row">First name:</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
    <td>{{ user.last_name }}</td>

    </tr>
        <tr>
      <th scope="row">Email:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th scope="row">Phone number</th>
    <td>{{ user.user_profile.phone_number }}</td>

    </tr>
      <tr>
      <th scope="row">Language</th>
    <td>{{ user.user_profile.language }}</td>

    </tr>
  </tbody>
</table>
{% endblock %}